$roboto-font: 'Roboto', Helvetica, Arial, sans-serif;
$roboto-condensed-font: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$rajdhani-font: 'Rajdhani', Helvetica, Arial, sans-serif;
$rajdhani-bold-font: 'Rajdhani Bold', Helvetica, Arial, sans-serif;
$rajdhani-semi-bold-font: 'Rajdhani SemiBold', Helvetica, Arial, sans-serif;
$rajdhani-light-font: 'Rajdhani Light', Helvetica, Arial, sans-serif;
$noto-mono-font: 'Noto Mono';
$arame-font: 'Arame-Regular', 'Arial', sans-serif;
